<link rel="stylesheet" href="./stylesheets/about.css">

<!-- about -->
<div class="about">
   <a href="https://chatwith.io/s/601ad85ac06a9" class="float" target="_blank"><i class="fa fa-whatsapp my-float"></i></a>
</div>
 <!-- end about -->
 