<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appliquez nos différentes astuces pour embellir votre aspect physique">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <title>Les astuces beauté de la marque Borrador</title>
  <link rel="icon" href="./images/borrador-logo.jpg" type="jpg" sizes="18x18" class="img-rounded">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel="stylesheet" href="./stylesheets/astuces.css">
<link rel="stylesheet" href="./stylesheets/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<%- include about %>
<%- include index_nav %>

<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <a href="/"><img src="./images/borrador-logo.jpg" class="borrador-logo"/></a>
            <h1 class="heading">
                Astuces beauté
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img src="./images/astuce-peau.jpg" />
                            <div class="card-content">
                                <h4 class="card-title">
                                     Soin de la peau
                                </h4>
                                <p class="text">
                                    Trop souvent déçue par la crème "miracle" tant vantée par votre copine?
                                    Trop souvent dépitée par le manque de résultats du dernier produit à la mode encensé par les magazines?
                                    Lassée de tester tous les cosmétiques du marché sans amélioration notable?
                                    La vraie question : Choisissez-vous le produit qui vous convient vraiment ? <br>
                                    Le <span style="color: rgb(255, 147, 165);">savon Borrador rose</span> purifie et uniformise votre peau avec la plus grande délicatesse. 
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="/representants" class="btn btn-link btn-block">
                                    Acheter le produit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img src="./images/astuce-cheveux.jpg" />
                            <div class="card-content">
                                <h4 class="card-title">
                                     Soin de cheveux
                                </h4>
                                <p class="text">
                                    Si vos cheveux sont cassants, dévitalisés, pelliculés, recouvert de teigne, vous devez absolument commencer par faire un traitement de fond avant d'entreprendre quoi que ce soit.

                                    En ce qui concerne les pellicules, il s'agit souvent de pellicules sèches, qui sont dûes à l'extrême sécheresse et sensibilité de notre cuir chevelu.
                                    
                                    Il faut donc assainir et hydrater le cuir chevelu.<br> Avant tout un traitement au <span style="color: rgb(45, 199, 45);">savon Borrador vert</span>, est réellement adapté. Votre cuir chevelu va ainsi progressivement s'assainir.                                
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="/representants" class="btn btn-link btn-block">
                                    Acheter le produit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img src="./images/astuce-pousse.jpg" />
                            <div class="card-content">
                                <h4 class="card-title">
                                      Pousse de cheveux
                                </h4>
                                <p class="text">
                                    Vous rêvez de longueurs et couper vos cheveux vous arrache le cœur ? 
                                    Une chute des cheveux régulière est normale.
                                    Cependant, la chute peut s’éterniser. Elle peut avoir une cause physiologique. C’est le cas de la calvitie, ou alopécie masculine, le plus souvent due à un excès d’hormones mâles. Après la ménopause, la production d’hormones féminines diminue chez la femme, avec pour conséquence une chevelure qui s’affine et une pousse ralentie.<br>
                                    <span style="color: rgb(45, 176, 199);">Borrador pousse</span>, grâce à ses vertus revitalisantes est un atout majeur pour accélérer la pousse de cheveux. 
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="/representants" class="btn btn-link btn-block">
                                    Acheter le produit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include footer %>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'></script>
<script  src="./scripts/home.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/0d148ec622.js" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
