<link rel="stylesheet" href="./stylesheets/footer.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>

<div class="wrapper">
   <section class="module follow">

      <h3 class="section-title"><span>Suivre</span><b>Borrador</b></h3>
      <div class="content">
         <div class="newsletter">

            <p class="social-title">Newsletter</p>

            <img src="./images/borrador-black-head.jpg" alt="borrador-blumen">
               <div class="form"><input type="text" placeholder="email">
                  <a href="mailto:teukouac@gmail.com">
                  <i class="send"></i>
                  </a>
               </div>
         </div>
         <div class="social">

            <p class="social-title">Social</p>
            <div class="social-icons">
               <a class="network" href="https://www.facebook.com/borradorcm/" target="_blank">
                           <img src="./images/facebook.png" alt="borrador-facebook">                           
                           <p class="social-name">facebook</p>
                        </a>
                        <a class="network" href="https://chatwith.io/s/601ad85ac06a9" target="_blank">
                           <img src="./images/whatsapp.png" alt="borrador-whatsapp">                           
                           <p class="social-name">whatsapp</p>
                        </a>
               <a class="network" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A" target="_blank">
                           <img src="./images/youtube.png" alt="borrador-youtube">
                           <p class="social-name">youtube</p>
                        </a>
               <a class="network" href="https://twitter.com/BorradorC" target="_blank">
                           <img src="./images/twitter.png" alt="borrador-twitter">
                           <p class="social-name">twitter</p>
                        </a>

            </div>
            <img src="./images/hair.jpg" alt="borrador-pousse">
         </div>
      </div>

   </section>
</div>

<footer>
    <div class="content">
       <article>
          <p class="text"><b> Borrador</b> &copy 2021 — all rights reserved</p>
          <p class="credits">Custom built by <a href="https://fredoly.com" target="_blank"><span><strong><b>Walf-dev</b></strong><i class="fas fa-heart" style="color: red;"></i></span></a></p>
       </article>
    </div>
 </footer>
 