<link rel="stylesheet" href="./stylesheets/nav.css">

<nav>
    <i class="icon-menu">
             <span></span>
         </i>
 
    <div class="main-nav">
       <div class="menu">
          <div class="menu-items">
            <a href="/" class="item"><span>accueil</span></a>
             <a href="/#produits" class="item"><span>produits</span></a>
             <a href="utilisation" class="item"><span>modes d'emploi</span></a>
             <a href="representants" class="item"><span>représentants</span></a>
             <a href="astuces" class="item"><span>astuces beauté</span></a>
             <a href="/videos" class="item"><span>Vidéos <i class="fab fa-youtube" style="color: red;"></i></span></a>
             <a href="representants" class="item"><span>contacts <i class="fas fa-mobile-alt" style="color: rgb(53, 50, 50);"></i></span></a>
          </div>
       </div>
    </div>
 </nav>
 