<!-- ent. description -->  
<section id="about">
    <div class="container description">
      <div class="row">
        <h1>Qui sommes nous<i class="fas fa-question fa-2x icon"></i></h1>
        <h4>La marque qui vous rend naturellement authentique</h4>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><i class="fas fa-bullseye fa-2x icon"></i>Notre mission</h3>
          <p class="description-text">Vous rendre unique en prenant soin de votre beauté, grâce à des produits qui satisferont vos exigences. Des milliers de personnes sont satisfaites des produits <strong>Borrador</strong>, alors qu'attends-tu?</p>
        </div>
        <div class="six columns">
          <h3><i class="fas fa-handshake fa-2x icon"></i>Notre approche</h3>
          <p class="description-text">Ayant votre satisfaction à coeur, nous sommes proches de vous où que vous soyez en Afrique centrale. Nous vous présentons une gamme de produits de qualité, à prix abordable pour un résultat optimal. Profitez d'un accompagnement de proximité, grâce à de nombreux points de vente et des tutoriels d'utilisation.</p>
        </div>
      </div>
    </div>
  </section>
 