<!-- products section -->

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

<section class="container" id="produits">
    <div class="products-header">
        <span class="section-title">
            <h1>Nos produits</h1>
            <h4>Cliquez sur les <b>cercles</b> pour plus de détails</h4>
        </span>
        
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Lime">
                <h2>
                    <span>Borrador Vert (300FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de Cheveux
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-vert-45gr-compressed.jpg" alt="borrador-vert">
                    </div>
                    <div class="mc-description">
                        Savon de 45 grammes pour boucler les cheveux, défriser, faire des vagues. Contre les pellicules, la teigne, les démangeaisons du cuir chevelu. <br> <strong>2500FCFA le paquet de 10 morceaux</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Borrador Super (300FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-super-45gr-compressed.jpg" alt="borrador-super">
                    </div>
                    <div class="mc-description">
                        Savon de 45 grammes qui agit efficacement contre les problèmes majeurs de la peau comme: les boutons, les démangeaisons, l'eczéma, la dartre, l'acné et les mycoses. <br> <strong>2500FCFA le paquet de 10 morceaux</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep Orange">
                <h2>
                    <span>Borrador Super (600FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-super-150gr-compressed.jpg" alt="borrador-super">
                    </div>
                    <div class="mc-description">
                        Savon de 150 grammes qui agit efficacement contre les problèmes majeurs de la peau comme: les boutons, les démangeaisons, l'eczéma, la dartre, l'acné et les mycoses. <br> <strong>3000FCFA le paquet de 6 morceaux</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Green">
                <h2>
                    <span>Borrador Regular (600FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau 
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-regular-compressed.jpg" alt="borrador-regular">
                    </div>
                    <div class="mc-description">
                       Savon de 150 grammes. Pour les problèmes mineurs de la peau tel que les vergetures. <br> <strong>3000FCFA le paquet de 6 morceaux</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Amber">
                <h2>
                    <span>Borrador Light (600FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-light-compressed.jpg" alt="borrador-light">
                    </div>
                    <div class="mc-description">
                        Avez-vous une peau fragile? Borrador Light prend soin de votre peau délicate! <br> <strong>Savon de 150 grammes. <br> 3000FCFA le paquet de 6 morceaux</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Orange">
                <h2>
                    <span>Borrador Pousse (2000FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de cheveux et barbes
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-pousse-3-compressed.jpg" alt="borrador-pousse">
                    </div>
                    <div class="mc-description">
                         Favorise la poussée rapide des cheveux, barbes, poils et favoris. Lutte efficacement contre la perte de cheveux (début de calvitie, d'alopécie, d'effluve télogène). <br><strong>Flacon de 70ml</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Light-Green">
                <h2>
                    <span>Borrador Fresh (1000 FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-fresh-herbarium-compressed.jpg" alt="borrador-fresh-herbarium">
                    </div>
                    <div class="mc-description">
                        profitez d'une fraicheur naturelle tout au long de la journée.<br> <strong>Savon de marseille de 200 grammes. <br> 5500FCFA le paquet de 6 morceaux.</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Borrador Fresh (1000 FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-fresh-blumen-200gr-compressed.jpg">
                    </div>
                    <div class="mc-description">
                        profitez d'une fraicheur naturelle tout au long de la journée.<br> <strong>Savon de marseille de 200 grammes. <br> 5500FCFA le paquet de 6 morceaux.</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>Borrador Fresh (1000 FCFA)</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Soin de la peau
                        <a href="representants"><button class="btn btn-primary cart show-work-btn"><i class="fas fa-shopping-cart fa-lg"></i></button></a>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./images/borrador-fresh-compressed.jpg">
                    </div>
                    <div class="mc-description">
                        profitez d'une fraicheur naturelle tout au long de la journée.<br> <strong>Savon de marseille de 200 grammes. <br> 5500FCFA le paquet de 6 morceaux.</strong>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Nous contacter
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/borradorcm/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BorradorC"></a>
                    <a class="fa fa-fw fa-youtube" href="https://www.youtube.com/channel/UC2reouvVSbnSGPCQNAU4n1A"></a>
                    <a class="fa fa-fw fa-whatsapp" href="https://chatwith.io/s/601ad85ac06a9"></a>
                </div>
            </article>
        </div>
    </div>
</section>