<section id="testimonies">
	<div class="customer-feedback">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div>
						<h2 class="section-title">Ce que disent nos clients</h2>
					</div>
				</div><!-- /End col -->
			</div><!-- /End row -->

			<div class="row">
				<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
					<div class="owl-carousel feedback-slider">

						<!-- slider item -->
						<div class="feedback-slider-item">
							<img src="./images/eva-etoundi-fb.jpg" class="center-block img-circle" alt="feedback-borrador-vert">
							<h3 class="customer-name">Eva Etoundi</h3>
							<p>Ce savon est super! Mes cheveux sont joliment bouclés.</p>
							<span class="light-bg customer-rating" data-rating="4">
								4
								<i class="fa fa-star"></i>
							</span>
						</div>
						<!-- /slider item -->

						<!-- slider item -->
						<div class="feedback-slider-item">
							<img src="./images/jean-betchem-fb-2.jpg" class="center-block img-circle img-responsive" alt="Customer Feedback">
							<h3 class="customer-name">Jean Betchem</h3>
							<p>Trop cool le savon! Il faut juste savoir l'utiliser.</p>
							<span class="light-bg customer-rating" data-rating="3">
								3
								<i class="fa fa-star"></i>
							</span>
						</div>
						<!-- /slider item -->

						<!-- slider item -->
						<div class="feedback-slider-item">
							<img src="./images/fanny-marthe-borrador-fb.jpg" class="center-block img-circle" alt="Customer Feedback">
							<h3 class="customer-name">Fanny Marthe Ndjock Mengue</h3>
							<p>Jamais sans mes produits Borrador.</p>
							<span class="light-bg customer-rating" data-rating="4">
								4
								<i class="fa fa-star"></i>
							</span>
						</div>
						<!-- /slider item -->
						
					</div><!-- /End feedback-slider -->

					<!-- side thumbnail -->
					<div class="feedback-slider-thumb hidden-xs">
						<div class="thumb-prev">
							<span>
								<img src="./images/fanny-marthe-borrador-fb.jpg" alt="Customer Feedback">
							</span>
							<span class="light-bg customer-rating">
								4
								<i class="fa fa-star"></i>
							</span>
						</div>

						<div class="thumb-next">
							<span>
								<img src="./images/jean-betchem-fb-2.jpg" alt="Customer Feedback">
							</span>
							<span class="light-bg customer-rating">
								3
								<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<!-- /side thumbnail -->

				</div><!-- /End col -->
			</div><!-- /End row -->
		</div><!-- /End container -->
	</div><!-- /End customer-feedback -->
</section>
