<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Comment avoir les vagues? Comment boucler ses cheveux? Comment faire pousser les cheveux et poils?">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
 <title>Les modes d'emploi des produits Borrador</title>
<link rel="icon" href="./images/borrador-logo.jpg" type="jpg" sizes="18x18" class="img-rounded">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="./stylesheets/utilisation.css">
    <link rel="stylesheet" href="./stylesheets/home.css">
</head>

<body>
<!-- partial:index.partial.html -->

<%- include about %>
<%- include index_nav %>
<div class="steps">
    <h1 class="title">Modes d'emploi</h1>
  <div class="steps-navigation">
    <div class="border-slide"></div>
    <ul>
      <li class="active"><a href="#step1" step-id="1">Vagues</a></li>
      <li><a href="#step2" step-id="2">Bouclage</a></li>
      <li><a href="#step3" step-id="3">Pousse de cheveux</a></li>
    </ul>  
  </div>  
  
  <div class="steps-content">
    <div class="step active" step-id="1">
      <span>Vagues:</span> Respectez ce mode d'emploi svp 
     <ol>
        <li>Appliquer le savon a sec en évitant le cuir chevelu laisser agir 7 a 10 minutes.</li>
        <li>Appliquer à nouveau le savon en profondeur pour permettre que ça touche le cuir chevelu.</li>
        <li>Brosser dans le sens des cheveux.</li>
        <li>Rincer abondamment et appliquer un gel ou une huile.</li>
      </ol>
      Faites cela encore 2 fois chaque fois après 2 jours pour avoir un résultat impeccable.
      <br><br>
    </div>  
    <div class="step" step-id="2">
      <span>Bouclage:</span> Respectez ce mode d'emploi svp 
      <ol>
        <li>Appliquer a sec en évitant le cuir chevelu laisser agir 3 à 5 minutes.</li>
        <li>Peigner avec un petit peigne.</li>
        <li>Appliquer à nouveau le savon en profondeur pour permetre que ça touche le cuir chevelu.</li>
        <li>Peigner dans le sens des cheveux et rincer abondamment.</li>
        <li>Appliquer un gel ou une huile.</li>
        <li>Soulever vos cheveux au sens inverse.</li>
      </ol>
      Faites cela encore 2 fois chaque fois après 2 jours pour avoir un résultat impeccable.<br><br>
    </div>
    <div class="step" step-id="3">
      <span>Pousse de cheveux: </span>
      Frottez profondément l'huile Borrador pousse sur la partie ou vous voulez la pousse rapide de cheveux ou bien de poils matin et soir
    </div>
  </div>
  
  <div class="steps-control">
    <div class="pre">
      <button class="btn btn-pre"><i class="icon-control ion-ios-arrow-left"></i>Préc.</button>
    </div>
    <div class="next">
      <button class="btn btn-next">Suiv.<i class="icon-control ion-ios-arrow-right"></i></button>
    </div>  
  </div>  
</div>

<%- include footer %>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script  src="./scripts/utilisation.js"></script>
  <script  src="./scripts/home.js"></script>

<script src="https://kit.fontawesome.com/0d148ec622.js" crossorigin="anonymous"></script>

</body>
</html>
